/*----------------------------- Colours ------------------------------*/
/*------------------- Special Paddings/Margins/Text-------------------*/
/*----------------------------- Header -------------------------------*/
/*---------------------------- Headings ------------------------------*/
/*------------------------------ Images-------------------------------*/
/*------------------------------ Footer ------------------------------*/

/*---------------------- Index HTML -----------------------*/
/*------------------ Getting-Started HTML -----------------*/
/*------------------- Currency-Calc HTML ------------------*/
/*-------------------- Market-Rates HTML ------------------*/

#coin-api-data {
    border: solid black 1px;
}

h1 {
    text-align: center;
}

#bpi-price {
    text-align: center;
}

/*---------------------- News HTML ------------------------*/
/*------------------- Recommended HTML --------------------*/

/*-------------------- Email-Sub HTML ---------------------*/